* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding-top: 8px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 19px;
    font-size: 21px;
    color: black;

}

.navbar ul li a:hover {
    color: rgb(21, 21, 113);
    font-weight: bold;
}

.name {
    font-family: 'Dancing Script', cursive;
    padding: 4px;
    padding-left: 20px;
    font-size: 30px;
}


/* main styling */

.container {
    width: 90%;
    height: 93vh;
    margin: auto;
    /* background-color: chocolate; */
    display: flex;
}

.devinfo {
    /* background-color: rgb(32, 139, 0); */
    /* width: 67%; */
    font-size: 100px;
    padding-left: 20px;
    height: 93vh;
}

.devinfo-sm {
    font-size: 30.5px;
}

.devinfo-more {
    font-size: 21px;
}

.devimg img {
    /* width: 400px; */
    height: 93vh;
}

.btn {
    padding: 13px;
    margin: 49px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: rgb(21, 21, 113);
    font-size: 20px;
}

.btn:hover {
    background-color: white;
    color: rgb(21, 21, 113);
}





/* Contact Form Styling */

.contactform {
    /* padding: 10px 0; */
    background-color: aqua;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 24px;
    font-size: 18px;

}

.contactform h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contactform form div {
    padding: 10px 0;
}

.form-text {
    font-size: 10px;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 20vw;
    border-radius: 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    margin: 4px;
}

.btn-contact {
    padding: 15px;
    margin: 3px;
}


.socialmedia {
    height: 13vh;
    /* background-color: darkcyan; */
}

.fa {
    /* height: 5vh; */
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;

}

.icons {
    display: flex;
    justify-content: center;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.socialmedia h3 {
    text-align: center;
}